$ROOT_PATH        : "/";
$ASSETS_PATH      : "/assets";
$IMAGES_PATH      : "#{$ASSETS_PATH}/img";
$FONTS_PATH       : "#{$ASSETS_PATH}/fonts";

//------------------------------------------------------------------------------
//
//    Color Scheme
//
//------------------------------------------------------------------------------

$white:                #fff;
$black:                #000;

$extralightgray:       $gray-lightest;
$lightgray:            $gray-lighter;
$gray:                 $gray-light;
$darkgray:             $gray;
$extradarkgray:        $gray-dark;

$color1:               $purple;
$color2:               lighten($purple, 5%);  // light purple
$color3:               darken($purple, 8%);  // Dark purple
$color4:               #002e6d;  // accent

$background-color:     $color1;

//------------------------------------------------------------------------------
//
//    Grid + Units
//
//------------------------------------------------------------------------------

$baseline:                    20px;
$default-transition-duration: 0.25s;
