//------------------------------------------------------------------------------
//
//    Global
//
//------------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $white;
  overflow-x: hidden;
  backface-visibility: hidden;
}

a {
  transition: all $default-transition-duration;
}

::selection {
  background-color: $color2;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background-color: $color2;
  color: $white;
  text-shadow: none;
}

//------------------------------------------------------------------------------
//
//    Header
//
//------------------------------------------------------------------------------
