//------------------------------------------------------------------------------
//
//    Helpers
//
//------------------------------------------------------------------------------

// TODO: move this into dc-bootstrap
@mixin visuallyhidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.visuallyhidden {
  @include visuallyhidden();
}

.screen-reader-text {
  @extend .visuallyhidden;
}

//------------------------------------------------------------------------------
//
//    Global
//
//------------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $white;
  overflow-x: hidden;
  backface-visibility: hidden;
}

a {
  //transition: all $default-transition-duration;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}
h2 {
  margin-bottom: 1.5rem;
}

p,
ul,
blockquote {
  margin-bottom: $baseline;
}

::selection {
  background-color: $color2;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background-color: $color2;
  color: $white;
  text-shadow: none;
}

//------------------------------------------------------------------------------
//
//    Header
//
//------------------------------------------------------------------------------
