@font-face{
  font-family:"Sofia Pro";
  src:url("#{$FONTS_PATH}/sofia-pro/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix");
  src:url("#{$FONTS_PATH}/sofia-pro/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix") format("eot"),url("#{$FONTS_PATH}/sofia-pro/8b31e0d7-5f53-45c2-b318-064f0b532543.woff2") format("woff2"),url("#{$FONTS_PATH}/sofia-pro/476fe015-ab32-40a2-8fed-0a5af9a3bba4.woff") format("woff"),url("#{$FONTS_PATH}/sofia-pro/d8bcfa37-4f93-49cf-8dea-c29e894af58e.ttf") format("truetype"),url("#{$FONTS_PATH}/sofia-pro/28fc42bb-8761-4e6a-8c62-65d4a41c9e33.svg#28fc42bb-8761-4e6a-8c62-65d4a41c9e33") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family:"Sofia Pro";
  src:url("#{$FONTS_PATH}/sofia-pro/addba733-2fd3-4151-adf4-d0b563dc6517.eot?#iefix");
  src:url("#{$FONTS_PATH}/sofia-pro/addba733-2fd3-4151-adf4-d0b563dc6517.eot?#iefix") format("eot"),url("#{$FONTS_PATH}/sofia-pro/87cd0dd6-3e8b-46f1-b677-ab7644ea015e.woff2") format("woff2"),url("#{$FONTS_PATH}/sofia-pro/90682d0e-e5df-4a2e-a2ff-6899b8ae8e4b.woff") format("woff"),url("#{$FONTS_PATH}/sofia-pro/d1a6f359-b96c-43fd-87af-85f9762a4ecf.ttf") format("truetype"),url("#{$FONTS_PATH}/sofia-pro/6cc18d90-baae-43d6-9b7e-e778cb8c630f.svg#6cc18d90-baae-43d6-9b7e-e778cb8c630f") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family:"Sofia Pro";
  src:url("#{$FONTS_PATH}/sofia-pro/c2440dd8-b25c-49ba-bc04-8a638a943324.eot?#iefix");
  src:url("#{$FONTS_PATH}/sofia-pro/c2440dd8-b25c-49ba-bc04-8a638a943324.eot?#iefix") format("eot"),url("#{$FONTS_PATH}/sofia-pro/80042803-0630-405f-b2d2-af97b4e50b46.woff2") format("woff2"),url("#{$FONTS_PATH}/sofia-pro/ec41d681-0313-4b04-88c0-820aebb51f4e.woff") format("woff"),url("#{$FONTS_PATH}/sofia-pro/81434fc3-e426-4a4c-987d-f25c098198c4.ttf") format("truetype"),url("#{$FONTS_PATH}/sofia-pro/59fd3475-fba9-4c77-94f9-959fd3925e06.svg#59fd3475-fba9-4c77-94f9-959fd3925e06") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family:"Sofia Pro";
  src:url("#{$FONTS_PATH}/sofia-pro/0b2112bc-4fb7-4a37-8c55-1e5848431681.eot?#iefix");
  src:url("#{$FONTS_PATH}/sofia-pro/0b2112bc-4fb7-4a37-8c55-1e5848431681.eot?#iefix") format("eot"),url("#{$FONTS_PATH}/sofia-pro/27f146af-7709-44d9-8b45-d09866bec59f.woff2") format("woff2"),url("#{$FONTS_PATH}/sofia-pro/5f085bad-f484-4825-8686-d347df989cf2.woff") format("woff"),url("#{$FONTS_PATH}/sofia-pro/a1133ba8-2dbc-4877-b3bc-b9a3a44652ba.ttf") format("truetype"),url("#{$FONTS_PATH}/sofia-pro/e37199b8-7efe-4da4-bb3c-9a415c519b57.svg#e37199b8-7efe-4da4-bb3c-9a415c519b57") format("svg");
  font-weight: 700;
  font-style: italic;
}
